{{Extend "db/index"}}
{{Block "title"}}{{"编辑用户"|$.T}} - {{Super}}{{/Block}}
{{Block "main"}}
{{$user := $.Stored.editUser}}
<div class="row">
  <div class="col-md-12">
    {{Include "db/mysql/dbinfo_btn"}}
    <div class="block-flat no-padding">
      <div class="header">
        <h3>{{if $user}}{{"编辑用户"|$.T}}: {{$user.Name}}{{else}}{{"创建用户"|$.T}}{{end}}</h3>
      </div>
      <div class="content">
        <form class="form-horizontal group-border-dashed" method="POST" action="">
          {{if $user}}<input type="hidden" name="act" value="edit">{{else}}<input type="hidden" name="act" value="create">{{end}}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"用户名"|$.T}}</label>
            <div class="col-sm-9">
              <input type="text" name="user" class="form-control" value="{{if $user}}{{$user.Name}}{{end}}" {{if $user}}readonly{{end}} required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"密码"|$.T}}</label>
            <div class="col-sm-9">
              <input type="password" name="password" class="form-control" placeholder="{{if $user}}{{`留空则不修改密码`|$.T}}{{else}}{{`输入密码`|$.T}}{{end}}">
            </div>
          </div>
          <div class="form-group form-submit-group">
            <div class="col-sm-9 col-sm-offset-2">
              <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|$.T}}</button>
              <a class="btn btn-default btn-lg" href="{{call $.Func.dbMgrURL `privileges`}}" data-pjax="#pcont" data-keepjs="true"><i class="fa fa-reply"></i> {{"返回"|$.T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/Block}}
