{{Extend "db/index"}}
{{Block "title"}}{{"创建表"|$.T}} - {{Super}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{call $.Func.dbMgrURL `listTable` $.Stored.dbName}}" data-pjax="#pcont" data-keepjs="true">{{"数据库"|$.T}}: {{$.Stored.dbName}}</a></li>
<li class="active">{{"创建表"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
  <div class="col-md-12">
    {{Include "db/mysql/results"}}
    <div class="block-flat no-padding">
      <div class="header">
        <h3>{{"创建表"|$.T}}</h3>
      </div>
      <div class="content">
        <form class="form-horizontal group-border-dashed" method="POST" action="">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"表名"|$.T}}</label>
            <div class="col-sm-9">
              <input type="text" name="table" class="form-control" required="required" value="{{$.Form `table`}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{"列定义"|$.T}}</label>
            <div class="col-sm-9">
              <table class="table table-borderd" id="columns-table">
                <thead>
                  <tr>
                    <th>{{"列名"|$.T}}</th>
                    <th>{{"类型"|$.T}}</th>
                    <th>{{"非空"|$.T}}</th>
                    <th>{{"默认值"|$.T}}</th>
                    <th style="width:40px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="column-row">
                    <td><input type="text" name="column_name[]" class="form-control" required></td>
                    <td>
                      <select name="column_type[]" class="form-control">
                        {{range $k,$v := $.Stored.dataTypes}}
                        <option value="{{$v}}">{{$v}}</option>
                        {{end}}
                      </select>
                    </td>
                    <td class="text-center">
                      <div class="checkbox checkbox-primary no-margin-y">
                        <input type="checkbox" id="col-notnull-0" name="column_null[]" value="NO">
                        <label for="col-notnull-0"></label>
                      </div>
                    </td>
                    <td><input type="text" name="column_default[]" class="form-control"></td>
                    <td><a href="javascript:;" onclick="delRow(this)" class="label label-danger"><i class="fa fa-times"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <a href="javascript:;" class="btn btn-sm btn-default" onclick="addColumnRow()">
                <i class="fa fa-plus"></i> {{"添加列"|$.T}}
              </a>
            </div>
          </div>

          <div class="form-group form-submit-group">
            <div class="col-sm-9 col-sm-offset-2">
              <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"创建"|$.T}}</button>
              <a class="btn btn-default btn-lg" href="{{call $.Func.dbMgrURL `listTable` $.Stored.dbName}}" data-pjax="#pcont" data-keepjs="true"><i class="fa fa-reply"></i> {{"返回"|$.T}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/Block}}
{{Block "footer"}}
{{Super}}
<script>
var colIndex = 1;
function addColumnRow() {
  var tbody = $('#columns-table tbody');
  var tr = $('<tr class="column-row">' +
    '<td><input type="text" name="column_name[]" class="form-control" required></td>' +
    '<td><select name="column_type[]" class="form-control">{{range $k,$v := $.Stored.dataTypes}}<option value="{{$v}}">{{$v}}</option>{{end}}</select></td>' +
    '<td class="text-center"><div class="checkbox checkbox-primary no-margin-y"><input type="checkbox" id="col-notnull-'+colIndex+'" name="column_null[]" value="NO"><label for="col-notnull-'+colIndex+'"></label></div></td>' +
    '<td><input type="text" name="column_default[]" class="form-control"></td>' +
    '<td><a href="javascript:;" onclick="delRow(this)" class="label label-danger"><i class="fa fa-times"></i></a></td>' +
    '</tr>');
  tbody.append(tr);
  colIndex++;
}
function delRow(el) {
  if ($('#columns-table tbody tr').length <= 1) return;
  $(el).closest('tr').remove();
}
</script>
{{/Block}}
