{{Extend "db/index"}}
{{Block "title"}}{{"索引"|$.T}}: {{$.Stored.table}} - {{Super}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{call $.Func.dbMgrURL `listTable` $.Stored.dbName}}" data-pjax="#pcont" data-keepjs="true">{{"数据库"|$.T}}: {{$.Stored.dbName}}</a></li>
<li><a href="{{call $.Func.dbMgrURL `viewTable` $.Stored.dbName $.Stored.table}}" data-pjax="#pcont" data-keepjs="true">{{"表"|$.T}}: {{$.Stored.table}}</a></li>
<li class="active">{{"索引"|$.T}}</li>
{{/Block}}
{{Block "main"}}
{{$table := $.Stored.table}}
<div class="row">
  <div class="col-md-12">
    {{Include "db/mysql/results"}}
    <div class="block-flat no-padding">
      <div class="header">
        <h3>{{"索引"|$.T}}: {{$table}}</h3>
      </div>
      <div class="content">
        <div class="table-responsive">
          <table class="table no-border hover blue">
            <thead class="no-border">
              <tr>
                <th><strong>{{"索引名"|$.T}}</strong></th>
                <th><strong>{{"列"|$.T}}</strong></th>
                <th><strong>{{"唯一"|$.T}}</strong></th>
                <th><strong>{{"类型"|$.T}}</strong></th>
                <th style="width:60px"></th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              {{range $k,$v := $.Stored.indexes}}
              <tr>
                <td>{{$v.Name}}</td>
                <td>{{$v.Columns}}</td>
                <td>{{if $v.Unique}}{{"是"|$.T}}{{else}}{{"否"|$.T}}{{end}}</td>
                <td>{{$v.Type}}</td>
                <td>
                  <a href="{{call $.Func.dbMgrURL `indexes` $.Stored.dbName $table}}&act=drop&name={{$v.Name}}" class="label label-danger" onclick="return confirm('{{$.T `确定要删除索引“%v”吗？` $v.Name}}');">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
              {{else}}
              <tr><td colspan="5" class="text-center">{{`没有索引`|$.T}}</td></tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="block-flat no-padding">
      <div class="header">
        <h3>{{"创建索引"|$.T}}</h3>
      </div>
      <div class="content">
        <form class="form-horizontal group-border-dashed" method="POST" action="">
          <input type="hidden" name="act" value="create">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"索引名"|$.T}}</label>
            <div class="col-sm-9">
              <input type="text" name="name" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"列名"|$.T}}</label>
            <div class="col-sm-9">
              <input type="text" name="columns" class="form-control" placeholder="{{`逗号分隔多个列`|$.T}}" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{"唯一索引"|$.T}}</label>
            <div class="col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" id="idx-unique" name="unique" value="1">
                <label for="idx-unique">{{"UNIQUE"|$.T}}</label>
              </div>
            </div>
          </div>
          <div class="form-group form-submit-group">
            <div class="col-sm-9 col-sm-offset-2">
              <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"创建"|$.T}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/Block}}
