{{Extend "db/index"}}
{{Block "title"}}{{"数据"|$.T}}: {{$.Stored.table}} - {{Super}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
{{- $dbName := $.Stored.dbName -}}
{{- $table := $.Stored.table -}}
<li><a href="{{call $.Func.dbMgrURL `listTable` $dbName}}" data-pjax="#pcont" data-keepjs="true">{{"数据库"|$.T}}: {{$dbName}}</a></li>
<li><a href="{{call $.Func.dbMgrURL `viewTable` $dbName $table}}" data-pjax="#pcont" data-keepjs="true">{{"表"|$.T}}: {{$table}}</a></li>
<li class="active">{{"数据"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
  <div class="col-md-12">
    {{Include "db/mysql/results"}}
    <div class="block-flat no-padding">
      <div class="header">
        <div class="btn-group pull-right">
          <a href="{{call $.Func.dbMgrURL `viewTable` $.Stored.dbName $.Stored.table}}" class="btn btn-default" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-list"></i>
            {{"查看结构"|$.T}}
          </a>
          <a href="{{call $.Func.dbMgrURL `createData` $.Stored.dbName $.Stored.table}}" class="btn btn-success" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-plus"></i>
            {{"新建数据"|$.T}}
          </a>
        </div>
        <h3>{{"数据"|$.T}}: {{$.Stored.table}}</h3>
      </div>
      <div class="content">
        <div class="table-responsive">
          <table class="table no-border hover blue">
            <thead class="no-border">
              <tr>
                {{range $k,$v := $.Stored.columns}}
                <th><strong>{{$v}}</strong></th>
                {{end}}
              </tr>
            </thead>
            <tbody class="no-border-x">
              {{range $k,$row := $.Stored.values}}
              <tr>
                {{range $k2,$col := $.Stored.columns}}
                <td>{{index $row $col}}</td>
                {{end}}
              </tr>
              {{else}}
              <tr><td colspan="{{len $.Stored.columns}}" class="text-center">{{`暂无数据`|$.T}}</td></tr>
              {{end}}
            </tbody>
          </table>
        </div>

        {{- if gt $.Stored.total 0 -}}
        <div class="footer">
            {{$.Stored.pagination.Render}}
        </div>
        {{- end -}}
      </div><!-- /.content -->
    </div><!-- /.block-flat -->
  </div>
</div>
{{/Block}}
