{{Extend "db/index"}}
{{Block "title"}}{{"PostgreSQL"|$.T}}: {{$.Stored.dbName}} - {{Super}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li>
  <a href="{{call $.Func.dbMgrURL `listTable` $.Stored.dbName}}" data-pjax="#pcont" data-keepjs="true">
  {{"数据库"|$.T}}: {{$.Stored.dbName}}
  </a>
</li>
<li class="active">{{"表"|$.T}}: {{$.Stored.table}}</li>
{{/Block}}
{{Block "main"}}
{{$table := $.Stored.table}}
<div class="row">
  <div class="col-md-12">
    {{Include "db/mysql/results"}}
    <div class="block-flat no-padding">
      <div class="header">
        <div class="btn-group pull-right">
          <a href="{{call $.Func.dbMgrURL `listData` $.Stored.dbName $table}}" class="btn btn-default" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-list"></i>
            {{"查看数据"|$.T}}
          </a>
          <a href="{{call $.Func.dbMgrURL `createData` $.Stored.dbName $table}}" class="btn btn-default" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-plus"></i>
            {{"新建数据"|$.T}}
          </a>
          <a href="{{call $.Func.dbMgrURL `indexes` $.Stored.dbName $table}}" class="btn btn-warning" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-list-alt"></i>
            {{"管理索引"|$.T}}
          </a>
          <a href="{{call $.Func.dbMgrURL `modifyTable` $.Stored.dbName $table}}" class="btn btn-default" data-pjax="#pcont" data-keepjs="true">
            <i class="fa fa-pencil"></i>
            {{"修改表"|$.T}}
          </a>
        </div>
        <h3>{{"表结构"|$.T}}: {{$table}}</h3>
      </div>
      <div class="content">
        <div class="table-responsive">
          <table class="table no-border hover blue">
            <thead class="no-border auto-fixed">
              <tr>
                <th><strong>{{"列名"|$.T}}</strong></th>
                <th><strong>{{"类型"|$.T}}</strong></th>
                <th><strong>{{"可空"|$.T}}</strong></th>
                <th><strong>{{"默认值"|$.T}}</strong></th>
                <th><strong>{{"注释"|$.T}}</strong></th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              {{range $k,$v := $.Stored.fields}}
              <tr>
                <td><b>{{$v.ColumnName}}</b></td>
                <td>{{$v.DataType}}</td>
                <td>{{if $v.IsNullable}}<span class="text-success">NULL</span>{{else}}<span class="text-danger">NOT NULL</span>{{end}}</td>
                <td>{{if $v.ColumnDefault}}{{$v.ColumnDefault}}{{else}}<em class="text-muted">NULL</em>{{end}}</td>
                <td>{{$v.Comment}}</td>
              </tr>
              {{else}}
              <tr><td colspan="5" class="text-center">{{`没有字段`|$.T}}</td></tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div><!-- /.content -->
    </div><!-- /.block-flat -->

    {{if $.Stored.ddl}}
    <div class="block-flat no-padding">
      <div class="header">
        <h3>{{"DDL"|$.T}}</h3>
      </div>
      <div class="content">
        <pre class="prettyprint lang-sql">{{$.Stored.ddl}}</pre>
      </div>
    </div>
    {{end}}

    <div class="block-flat no-padding">
      <div class="header">
        <a href="{{call $.Func.dbMgrURL `indexes` $.Stored.dbName $table}}" data-pjax="#pcont" data-keepjs="true" class="btn btn-default pull-right">
          <i class="fa fa-pencil"></i>
          {{"修改索引"|$.T}}
        </a>
        <h3>{{"索引"|$.T}}</h3>
      </div>
      <div class="content">
        <div class="table-responsive overflow">
          <table class="table no-border hover blue">
            <thead class="no-border">
              <tr>
                <th><strong>{{"名称"|$.T}}</strong></th>
                <th><strong>{{"列"|$.T}}</strong></th>
                <th><strong>{{"唯一"|$.T}}</strong></th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              {{range $k,$v := $.Stored.indexes}}
              <tr>
                <td>{{$v.Name}}</td>
                <td>{{$v.Columns}}</td>
                <td>{{if $v.Unique}}{{"是"|$.T}}{{else}}{{"否"|$.T}}{{end}}</td>
              </tr>
              {{else}}
              <tr><td colspan="3" class="text-center">{{`没有索引`|$.T}}</td></tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div><!-- /.content -->
    </div><!-- /.block-flat -->
  </div>
</div>
{{/Block}}
